{% extends 'blog/base.html' %}

{% block content %}
<div id="bio-img">
	<img src="../static/images/bio.jpg" width="300">
</div>
<div id="bio-text">
	<h2>about j. l. koch</h2>
	<p>J. L. Koch grew up on an Island of the coast of Maine. She spent her childhood swimming in the ocean, defying her parents by reading under the covers late at night, and getting stung by bees in the woods behind her house.</p> 

	<p>She spent a semester at Emerson College before transferring to the University of Southern Maine where she graduated with a degree in Media Studies.</p>

	<p>Since college she has spent time living and working in Boston but moved back to Portland, Maine in 2014.</p>

	<p>She is currently a software developer for a California-based tech company with an office in Portland and a graduate student at the Stonecoast MFA creative writing program.</p>

	<p>She enjoys drinking coffee, hanging out with other people’s dogs, and writing (of course).</p>

	<p>Her first fiction piece was published last year in the literary magazine Ghost Parachute.</p>
</div>
{% endblock %}