{% extends 'blog/base.html' %}

{% block content %}
<h1>j. l . koch</h1>
<div id="bio-img">
	<img src="../static/images/bio_2.jpg" width="325">
</div>
<div id="bio-text">
	<p><span class="italic">Read her latest publication <a href="http://ghostparachute.com/issue/september-2017-issue/sunday/" target="_blank">here</a>.</span></p>

	<p>J. L. Koch is a writer, currently pursuing her graduate degree through the Stonecoast MFA program at the University of Southern Maine, concentrating in popular fiction.</p>

	<p>Her work is mostly dark speculative fiction and fantasy but she sometimes takes a break and writes straight fiction and nonfiction.</p>

	<p>Her first fiction piece was published in 2017 in the literary magazine <span class="italic">Ghost Parachute</span>.</p>

	<p>She lives in Portland, Maine where she works as a software developer for a California-based tech company.</p>

	<p>She enjoys drinking coffee, hanging out with other people’s dogs, and writing (of course).</p>

	<p>You can follow her on <a href="https://www.instagram.com/inwildwoods/" target="_blank">instagram</a> (@inwildwoods) or <a href="https://twitter.com/jkochwrites" target="_blank">twitter</a> (@jkochwrites).</p>
</div>
{% endblock %}