{% load staticfiles %}

<html>
    <head>
        <title>j. l. koch</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body class="site">
        <div id="primary-header">
            <a href="{% url 'about' %}">
                <div id="logo">
                    j. l. koch <span>writer</span>
                </div>
            </a>
            <div id="navigation">
                <ul id="nav-list">
                    <li><a href="{% url 'about' %}">about</a></li> /
                    <li><a href="{% url 'publications' %}">publications</a></li> / 
                    <li><a href="{% url 'post_list' %}">blog</a></li>
                </ul>
            </div>
        </div>
        <div id="content" class="group site-content">
            <div id="content-inner">
                {% block content %}{% endblock %}
            </div>
        </div>
        {# <a href="{% url 'post_new' %}" class="top-menu">add new entry</a> #}
        <div id="footer" class="group">
            <div id="footer-content">
                <ul id="nav-list">
                    <li><a href="https://twitter.com/jkochwrites" target="_blank">twitter</a></li> /
                    <li><a href="https://www.instagram.com/inwildwoods/" target="_blank">instagram</a></li>
                </ul>
                <p class="small">inquiries: jesslouko@gmail.com</p>
                <p class="small">&copy; copyright {% now "Y" %}, J. L. Koch</p>
            </div>
        </div>
    </body>
</html>