/*reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/*flex*/
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

/*typography*/

.italic { font-style: italic; }

.small {font-size: 12px; }

hr {
	border: none;
	height: 1px;
	background-color: #eee;
	margin: 20px 0;
}

body {
	background-color: white;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	color: #4a4a4a;
	font-family: Georgia, serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h1 a {
	color: #4a4a4a;
	font-size: 32px;
	font-style: italic;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	margin-bottom: 40px;
}

h1 a:hover {
	color: black;
	text-decoration: none;
}

h2 {
	font-size: 21px;
	font-style: italic;
	font-weight: normal;
	margin-bottom: 20px;
}

h3 { font-weight: bold; }

p {
	font-size: 15px;
	letter-spacing: .86px;
	line-height: 20px;
	margin-bottom: 10px;
}

a {
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	color: #4a4a4a;
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
}

a:hover {
	color: gray;
}

.date {
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.post {
	margin-bottom: 80px;
}

/*header*/

#primary-header {
	/*background: url(../images/bg.png) no-repeat top center fixed;*/
	/*background-size: 100%;*/
	background-color: #333;
	padding: 80px;
}

#logo {
	color: white;
	float: left;
	font-size: 20px;
	font-style: italic;
	font-weight: normal;
	letter-spacing: 1px;
}

#logo span { font-size: 14px; }

#navigation {
	color: white;
	float: right;
	font-size: 14px;
	letter-spacing: 1px;
	padding-top: 5px;
}

ul#nav-list li {
	display: inline;
	padding: 0 5px;
}

ul#nav-list li a {
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	color: white;
	font-style: normal;
	font-weight: normal;
	padding-bottom: 3px;
	text-decoration: none;
}

ul#nav-list li a:hover {
	color: #ccc;
}

/*content*/

#content {
	background-color: white;
	padding: 90px 0;
	width: 100%;
}

#content-inner {
	margin: 0 auto;
	min-width: 320px;
	max-width: 800px;
	width: 70%;
}

#bio-text, #bio-img {
	float: left;
	width: 50%;
}

@media only screen and (max-width: 950px) {
	#bio-text, #bio-img {
		float: none;
		width: 100%;
	}
	#bio-text { margin-top: 30px; }
}

/*footer*/

#footer {
	/*background: url(../images/bg.png) no-repeat bottom center fixed;*/
	/*background-size: 100%;*/
	background-color: #333;
	color: white;
	font-size: 14px;
	text-align: center;
}

#footer ul {
	margin-bottom: 20px;
}

#footer-content {
	padding: 40px 0;
}