/*reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*typography*/

body {
	background: url(../images/bg.png) no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	color: #4a4a4a;
	font-family: Georgia, serif;
	-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

h1,
h1 a {
	color: #4a4a4a;
	font-size: 24px;
	font-style: italic;
	text-align: center;
	text-decoration: none;
	margin-bottom: 40px;
}

h1 a:hover {
	color: black;
	text-decoration: none;
}

p {
	font-size: 12px;
	letter-spacing: .86px;
	line-height: 20px;
}

a {
	color: #4a4a4a;
	font-style: italic;
	text-decoration: underline;
}

.date {
	font-size: 10px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.post {
	margin-bottom: 80px;
}

/*header*/

#primary-header {
	background-color: rgba(0, 0, 0, 0.45);
	padding: 100px 80px 120px;
}

#logo {
	color: white;
	float: left;
	font-size: 20px;
	font-style: italic;
	letter-spacing: 1px;
}

#logo span { font-size: 14px; }

#navigation {
	color: white;
	float: right;
	font-size: 14px;
	letter-spacing: 1px;
	padding-top: 5px;
}

ul#nav-list li {
	display: inline;
	padding: 0 5px;
}

ul#nav-list li a {
	color: white;
	font-style: normal;
	padding-bottom: 3px;
	text-decoration: none;
}

ul#nav-list li a:hover {
	border-bottom: 1px solid white;
}

/*content*/

#content {
	background-color: white;
	width: 100%;
}

#content-inner {
	margin: 0 auto;
	padding: 120px 0;
	max-width: 700px;
	min-width: 320px;
	width: 50%;
}